<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hallo,</p>
    <p>Sie haben sich im Tutorensystem registriert.</p>
    <p>Um ihr Konto zu aktivieren, klicken Sie bitte auf den nachfolgenden Link.</p>
    <a th:href="${link}">Konto aktivieren</a></p>
    <p th:if="${!isFirstRegistrationMail}">Der zuvor gesendete Link ist nicht mehr gültig.</p>
    <p>Mit freundlichen Grüßen<br />
        Ihr Tutorsystem</p>
</body>

</html>