.logo {
    float: left;
    padding: 0px 20px;
    background: rgba(255, 255, 255, 0.3);
}

.sider-collapse-trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    float: right;
    position: relative;
    right: 0;
}